<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Import wallet';  goBackToState = 'add'; noColor = true">
</div>

<div class="content p20v" ng-controller="importController as import">
  <div class="onGoingProcess" ng-show="import.loading">
    <div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span translate>Importing wallet...</span>
    </div>
  </div>


    <div class="row">
      <div class="large-12 columns">
          <form name="importForm" ng-submit="import.import(importForm)" novalidate>
            <div class="box-notification" ng-show="import.error">
              <span class="text-warning size-14">
                {{import.error|translate}}
              </span>
            </div>

            <div ng-show="!import.isSafari && !import.isCordova" class="line-b m10b">
              <label for="backupFile">
                <span translate>Choose a backup file from your computer</span>  <i class="fi-laptop"></i>
              </label>
              <input type="file" class="form-control" placeholder="{{'Select a backup file'|translate}}"
              name="backupFile" ng-model="import.backupFile" ng-file-select>
            </div>

            <div ng-show="import.isSafari || import.isCordova">
              <label for="backupText">
                <span translate>Paste the backup plain text code</span>  <i class="fi-clipboard"></i>
              </label>
              <textarea class="form-control" name="backupText" ng-model="import.backupText" rows="5"></textarea>
            </div>

            <label for="password"><span translate>Password</span>  <small translate>Required</small>
            </label>
            <div class="input">
              <input type="password" class="form-control" placeholder="{{'Your backup password'|translate}}"
              name="password" ng-model="import.password">
            </div>
            <button translate type="submit" class="button round expand black"
              ng-disabled="importForm.$invalid || !import.password || import.loading">
              Import backup
            </button>
          </form>

          <div class="text-center text-gray p20v" ng-click="$root.go('importLegacy')">
            <p class="text-gray m5b size-14" translate> Have a Backup from DGBWallet.com v0.9?</p>
            <button class=" outline dark-gray tiny round"> <span translate>Import here</span>
              <i class="icon-arrow-right3 size-14"></i>
            </button>
          </div>

      </div>
    </div>
</div>

<div class="extra-margin-bottom"></div>
