<div class="text-center splash" ng-if="!index.hasProfile">
	<div class="row">
		<div class="medium-6 large-4 medium-centered small-centered large-centered columns">
			<div class="p20">
				<span class="text-bold size-16 text-white" translate>Welcome to DigiByte Gaming</span>
				<p class="text-gray size-14 m0 text-light" translate>A gamers DigiByte wallet</p>
			</div>
		</div>
	</div>
	<div class="gif-splash">
		<img src="img/icon-splash.png" alt="icon" width="25%">
	</div>
  <div class="text-center size-12 text-warning" ng-show="error && !creatingProfile">
    {{(error)|translate}}. <span translate>Retrying...</span>
  </div>
  <div class="onGoingProcess" ng-show="creatingProfile">
    <div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <span translate>Creating Profile...</span>
    </div>
  </div>
  <div class="row columns start-button" ng-show="!creatingProfile">
    <button ng-click="create()" class="button black expand round size-12 text-spacing" translate> GET STARTED </button>  
    <p class="text-gray m5b size-12" translate>Already have a wallet?</p>
    <button  ng-click="create(true)" class="button round outline dark-gray tiny" translate>Import backup </button>
  </div>
</div>
