<nav class="sidebar left-off-canvas-menu" ng-controller="sidebarController as sidebar">
  <header>
    <img src="img/logo-negative.svg" alt="DigiByte" width="80">
    <div ng-include="'views/includes/version.html'"></div>
  </header>
  <ul class="off-canvas-list">
    <li ng-show="sidebar.wallets[0]"
    ng-repeat="item in sidebar.wallets track by $index"
    ng-class="{'selected': item.id == index.walletId}"
    class="nav-item">
    <a ng-click="sidebar.switchWallet(item.id)" class="oh">
      <div class="avatar-wallet"
        ng-style="{'background-color':item.color}">{{(item.name || item.id) | limitTo: 1}}</div>
      <div class="name-wallet" ng-class="{'m8t':item.n == 1}">{{item.name || item.id}}</div>
      <div class="size-12" ng-show="item.n > 1">{{item.m}} <span translate>of</span> {{item.n}}</div>
    </a>
    </li>
    <li>
      <a ng-click="$root.go('add')" class="oh">
        <i class="icon-arrow-right3 size-18 right m10t"></i>
        <i class="fi-plus size-24 db left m20r m5t"></i>
        <div class="tu text-bold">
          <span class="size-12" translate>Add wallet</span>
        </div>
        <div translate>Create, join or import</div>
      </a>
    </li>
  </ul>
</nav>
